.single_img_div {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.single_img {
    width: 100%;
    border-radius: 10px;
}

.title_div {
    margin-bottom: 20px;
}

.content {
    margin-bottom: 40px;
}

.date_and_author_dark {
    color: #ff63c3;
    font-size: 13px;
}

.date_and_author_light {
    color: #36988b;
    font-size: 13px;
}
