.single_img_div {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.single_img {
    width: 100%;
    border-radius: 10px;
}

.title_div {
    margin-bottom: 20px;
}

.content {
    margin-bottom: 40px;
}